/* styles used by ajax fields */
.datafield, .datafield-label {
    font-family: sans-serif;
    font-size: 13px;
}
.datafield-label {
    display:inline-block;
    min-width: 100px;
    text-align: right;
    vertical-align: top;
    margin-top: 3px;
}
.datafield {
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 4px;
    cursor: hand;
    width: 200px;
}
.datafield:focus {
    border: 1px solid silver;
    cursor: text;
}
.datafield:hover {
    background-color: #ffc;
}


/* pagination */
.paginate_bar {
	margin: 10px auto;
	text-align: center; }
	.paginate_bar .paginate_button {
		background: #F0F0F0;
		color: #999;
		font: 12px Verdana, Geneva, sans-serif;
		text-decoration:none;
		display:inline-block;
		marign: 3px;
		padding: 3px; }
		.paginate_bar .paginate_button:hover {
			background-color: #999;
			color: #FFF !important;
			text-decoration:none !important;
}

