body {
    background-color: #444;
    font-family: Helvetica, Arial, Sans, sans-serif;
    color: #ccc;
    text-align: center;
    margin:0;
    padding:0;
}
a {
    color: #fff;
    text-decoration: none; }
    a:hover {
        text-decoration: underline;
}
blockquote {
    border-left: 3px silver solid;
    font-family: Georgia, Garamond, 'Times New Roman', times, serif;
    font-style: italic;
    background-color: #535353;
    padding: 8px 8px 8px 15px;
}
fieldset {
    border:0;
}
pre {
    display:block;
    margin:auto;
}
#logo {
    padding:20px 0;
    margin:auto;
    background:transparent url('http://i.imgur.com/iYVjQ.png') no-repeat 0 20px;
    width:174px;
    height:39px;
}
#nav {
    padding: 20px;
}   
#wrapper {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
#content {
    background-color: #505050;
    padding: 30px 60px 30px 60px;
    text-align: left;
    border-radius: 15px; }
    #content h1 {
        text-align: center;
        font-size: 20px;
        margin: 0 30px 30px 30px;
    }
    #content h2 {
        margin: 25px 25px 25px -20px;
    }
    #content h3 {
        margin: 20px 20px 20px -10px;
    }
    #content h4 {
        margin: 15px 15px 15px 0px;
    }
    #content table {
        border-spacing: 0;
    }
    #content table tr td {
        /* padding: 5px; */
    }
    #content pre {
        width: 99.8%;
        overflow: scroll;
    }
    /*#content table tr:first-child td {
        text-align:center;
        padding: auto 5px auto 5px;
    }
    #content table tr:nth-child(odd) {
        background-color:#555;
    }
    #content table tr:nth-child(even) {
        background-color:#606060;*/
}
#foot {
    padding: 10px;
    font-size: smaller;
}
.shiny {/* text-shadow: 1px 1px 0.1em #000; */
    padding: 5px; }
    .shiny:hover {
        background-color: #888;
        color: #333;
        border-radius: 3px;
        text-decoration: none;
}
.invisibl { 
    position: fixed;
    width: 0; top: 0;
    height: 0;
    left: -250px;
    overflow: hidden;
}
.top {
    display:inline-block;
    font-size: 13px;
    margin-left: 15px;
}
.tags {
    background-color: #606060;
    color: #CCC;
    border-radius: 3px;
    display: inline-block;
    font-size: 10px;
    padding: 4px;
}