html > body h1, html > body h1 * {
	font-weight: 100;
	color: #000;
	text-decoration: none;
}
html > body #primarycontarea, html > body #footer {
	width: auto;
	margin-left: auto;
}
html > body #primarycontarea a {
	text-decoration:  none;
}
html > body #primarycontarea h5, html > body #primarycontarea h6 {
	color:#fff;
	padding:5px;
	font-size:13px;
	border-radius:4px;
}
html > body #primarycontarea h2 {
	margin: 12px 0;
}
html > body #primarycontarea h5 {
	background: #090;
}
html > body #primarycontarea h6 {
	background: #900;
}
